<%= form_for([topic, comment], remote: true, html: {class: 'form-horizontal'}) do |f| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %>件のエラーがあります。</h2>

      <ul>
      <% comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row" style="padding:5px;">
  <div class="from-group">
    <div class="field col-sm-1 control-label hidden-xs" style="padding:3px 0 0 25px;">
      <%= profile_img_width(current_user, 30) %>
    </div>
    <div class="field col-sm-9" style="padding:3px 0 0 5px;">
      <%= f.text_area :content, rows: 1, placeholder: "コメントする", class: 'form-control' %>
    </div>
    <div class="actions col-sm-1 control-label" style="padding:4px 0 0 3px;">
      <%= f.submit '投稿する' %>
    </div>
  </div>
  </div>
  
  
  <%= f.hidden_field :topic_id %>
  <%= f.hidden_field :user_id %>


<% end %>