   <% if @excess == true %>
    <%= link_to topic_comments_path(topic.id, hide_c: 1), :remote => true do %>
    <i class="fa-lg fa fa-chevron-down faColor"></i>全てのコメントを表示する
    <% end %>
  <% elsif comments.length > 2 %>
    <%= link_to topic_comments_path(topic.id, hide_c: 0), :remote => true do %>
    <i class="fa-lg fa fa-chevron-up faColor"></i>最新の2件のみ表示
    <% end %>
  <% end %>
 
  <% comments.each do |comment| %>
    <% unless comment.id.nil? %>

  <div class="row" style="padding:5px;">
    <div class="col-sm-1 control-label" style="padding:3px 0 0 25px;">
      <%= profile_img_width(comment.user, 30) %>
    </div>
    <div class="col-sm-3 dropdown">
      <%= comment.user.name %>
      <% if comment.user == current_user %>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-angle-down" aria-hidden="true"></i></a>
        <ul class="dropdown-menu">
          <li><%= link_to '編集', edit_topic_comment_path(topic, comment), remote: true %></li>
          <li><%= link_to '削除', topic_comment_path(topic, comment), method: :delete, remote: true, data: { confirm: '本当に削除していいですか？' } %></li>
        </ul>
      <% else %>
      <% end %>
      </br>
      <span class="font_s"><%= comment.created_at.strftime("%m/%d/%y at %l:%M %p") %></span>
    </div>
    <div class="col-sm-8" id="comment_<%= comment.id %>" style="word-wrap:break-word;">
      <%= simple_format(comment.content) %>
    </div>
  </div>
  
      <% end %>
  <% end %>